<div
  class="fixed left-0 top-0 h-full bg-gray-800 text-white shadow-lg transition-all duration-300 ease-in-out"
  [ngClass]="isOpen ? 'w-64' : 'w-16'"
>
  <button
    (click)="toggleSidebar()"
    class="absolute top-4 right-4 hover:bg-gray-700 p-2 rounded-full transition-colors"
  >
    <svg
      *ngIf="!isOpen"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>

    <svg
      *ngIf="isOpen"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>

  <nav class="pt-16">
    <ul>
      <ng-container *ngFor="let item of sidebarItem">
        <li 
          class="hover:bg-gray-700 cursor-pointer px-4 py-3 flex items-center space-x-3 group relative"
          (click)="item.children ? toggleSubmenu(item) : navigateTo(item.route)"
        >
          <ng-icon *ngIf="item.icon === 'home'" name="bootstrapHouseDoor" class="h-6 w-6"></ng-icon>
          <ng-icon *ngIf="item.icon === 'request'" name="bootstrapFileEarmarkText" class="h-6 w-6"></ng-icon>
          <ng-icon *ngIf="item.icon === 'logout'" name="bootstrapPower" class="h-6 w-6"></ng-icon>

          <span
            [ngClass]="{ hidden: !isOpen, block: isOpen }"
            class="group-hover:text-gray-200 flex-grow"
          >
            {{ item.text }}
          </span>

          <ng-icon 
            *ngIf="item.caret === 'caret'" 
            name="bootstrapCaretDown"
            [ngClass]="{ 
              hidden: !isOpen, 
              block: isOpen
            }"
            class="h-3 w-3 transition-transform duration-300"
          ></ng-icon>
        </li>

        <!-- Submenu for items with children -->
        <!-- <ng-container *ngIf="item.children && expandedItems[item.text]">
          <li 
            *ngFor="let child of item.children"
            (click)="navigateTo(child.route)"
            class="pl-12 hover:bg-gray-700 cursor-pointer px-4 py-3 flex items-center space-x-3 group"
          >
            <ng-icon 
              *ngIf="child.icon === 'pending'" 
              name="bootstrapDot" 
              class="h-6 w-6"
            ></ng-icon>
            <ng-icon 
              *ngIf="child.icon === 'approved'" 
              name="bootstrapDot" 
              class="h-6 w-6"
            ></ng-icon>
            <ng-icon 
              *ngIf="child.icon === 'rejected'" 
              name="bootstrapDot" 
              class="h-6 w-6"
            ></ng-icon>
            <ng-icon 
              *ngIf="child.icon === 'delivered'" 
              name="bootstrapDot" 
              class="h-6 w-6"
            ></ng-icon>
            <ng-icon 
              *ngIf="child.icon === 'deployed'" 
              name="bootstrapDot" 
              class="h-6 w-6"
            ></ng-icon>

            <span
              [ngClass]="{ hidden: !isOpen, block: isOpen }"
              class="group-hover:text-gray-200"
            >
              {{ child.text }}
            </span>
          </li>
        </ng-container> -->
      </ng-container>
    </ul>
  </nav>
</div>