@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.custom-dialog-container .mat-dialog-container {
  @apply rounded-xl shadow-2xl;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Increase the z-index to ensure the dialog appears on top */
}

.cdk-overlay-container{
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1000;
}

/* Global styles for snackbar */
.success-snackbar {
  background-color: #4CAF50;
  color: white;
}

.error-snackbar {
  background-color: #F44336;
  color: white;
}

.warning-snackbar {
  background-color: #FF9800;
  color: white;

}

